$dev_version : true;

// {% set $font = "akzidenz-grotesk" %} 
// {% set $first_color = "#06377b" %} 
// {% set $second_color = "#202329" %} 
// {% set $main_font_color = "#2b2b2b" %} 
// {% set $cta_background = "#06377b" %} 
// {% set $cta_color = "#ffffff" %} 
// {% set $cta_hover_background = "#fdfefe" %} 
// {% set $cta_hover_color = "#06377b" %} 





$mainColor: #ffc400;
$secondaryTextColor: #626262;
$font_family : 'Palanquin',sans-serif;

@function hubl_var($var,$dev){
	@if $dev_version == false {
  		@return unquote('/*=={{ '+$var+' }}==*/');
	} @else { 
		@return $dev;
	}
}

$variables : (
			  "$first_color": #06377b, 			// 1 hubl("$first_color")
			  "$second_color": #202329,			// 2 hubl("$second_color")
			  "$cta_background": #06377b,		// 3 hubl("$cta_background")
			  "$cta_color": #ffffff,			// 4 hubl("$cta_color")
			  "$cta_hover_background": #fdfefe,	// 5 hubl("$cta_hover_background")
			  "$cta_hover_color": #06377b,		// 6 hubl("$cta_hover_color")
			  "$main_font_color": #2b2b2b,		// 7 hubl("$main_font_color")
			  "$second_font_color": #c5e4ff,		// 7 hubl("$second_font_color")
			  "$font": "akzidenz-grotesk"				//   hubl("$font")
			  );

// $variables : (
// 			  "$first_color": #003da8, 			// 1 hubl("$first_color")
// 			  "$second_color": #d457f2,			// 2 hubl("$second_color")
// 			  "$cta_background": #08991c,		// 3 hubl("$cta_background")
// 			  "$cta_color": #ea7500,			// 4 hubl("$cta_color")
// 			  "$cta_hover_background": #09d3ac,	// 5 hubl("$cta_hover_background")
// 			  "$cta_hover_color": #500993,		// 6 hubl("$cta_hover_color")
// 			  "$main_font_color": fuchsia,		// 7 hubl("$main_font_color")
// 			  "$font": "Palanquin"				//   hubl("$font")
// 			  );
// Pętla dodająca zmienne 'habowe' //

@if $dev_version == false {
	@each $var-name, $var-value in $variables {
		/*== {% set #{$var_name} = "#{$var_value}" %} ==*/;	
	}
}

// Metoda zmieniajace zmienne habowe na sass i odwrotnie, zależne od zmiennej dev_version //


@function hubl($var){
	@if $dev_version == false {
  		@return unquote('/*=={{ '+$var+' }}==*/');
	} @else {
		@return map-get($variables,$var);
	}
}

@function hubl_rgba($var,$alpha){
	@if $dev_version == false {
		@return unquote('/*==rgba({{ '+$var+'|convert_rgb }},'+$alpha+')==*/');
	} @else {
		@return rgba(map-get($variables,$var),$alpha);
	}
}