.contact-template {
    &.contact-v2 {
        .body-container-wrapper {
            padding-top: 70px;
            form.hs-form {
                fieldset {
                    max-width: 100%;
                    margin-bottom: 10px;
                    .input {
                        margin-right: 0px;
                    }
                    textarea,
                    input[type="text"],
                    input[type="email"],
                    input[type="tel"],
                    input[type="number"] {
                        &.hs-input {
                            width: 100%;
                            color: hubl("$main_font_color");
                            font-size: 16px;
                            border: solid 1px #ebeaea;
                            border-radius: 3px;
                        }
                    }
                    &.form-columns-2 {
                        .hs-form-field {
                            width: 48.717948718%;
                            &:last-of-type {
                                margin-left: 2.564102564%;
                            }
                            @media (max-width: 500px) {
                                width: 100%;
                                &:last-of-type {
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                }
                label {
                    span {
                        color: hubl("$main_font_color");
                        font-weight: 200px;
                    }
                }
            }
        }
    }
    &.contact-main {
      .social {
        padding: 0 0 20px 0;
      }
    }
}

.map {
    padding-top: 70px;
    #map-close {
        position: fixed;
        top: 20px;
        left: 20px;
        font-size: 26px;
        border: 0;
        background-color: transparent;
        z-index: 9;
        margin: 0;
        padding: 0;
        width: 61px;
        .fa {
            padding: 0px 3px;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
            color: hubl("$main_font_color");
            border-radius: 3px;
        }
    }
    .map-wrapper {
        height: 510px;
        width: 100%;
        position: relative;
        #map-find-road {
            position: absolute;
            bottom: 125px;
            font-size: 26px;
            border: 0;
            background-color: transparent;
            z-index: 9;
            right: 10px;
            padding: 0;
            margin: 0;
            width: auto;
            .fa {
                padding: 0px 3px;
                background-color: #fff;
                box-shadow: rgba(0, 0, 0, 0.29804) 0px 1px 4px -1px;
                color: hubl("$cta_hover_color");
                border-radius: 3px;
            }
        }
        #start-position {
            position: absolute;
            bottom: 126px;
            right: 46px;
            width: 0px;
            font-size: 14px;
            height: 26px;
            z-index: 9;
            color: hubl("$main_font_color");
            border: 0;
            padding: 0px 0px;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.29804) 0px 1px 4px -1px;
            border-radius: 3px;
            transition: all 0.3s linear;
            &.open {
                width: 200px;
                padding: 0px 3px;
            }
        }
        &.full-open {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 9999;
            width: 100vw;
            max-height: 100vh;
            height: 100vh;
        }
        >div {
            height: 100%;
            margin: 0px;
            #map {
                div {
                    height: initial;
                    margin: initial;
                }
                .gmnoprint {
                    .gm-style-mtc {
                        display: none;
                    }
                }
            }
        }
        .mask {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: transparent;
        }
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.contact-page {
    padding-bottom: 80px;
    h3 {
        margin-top: 45px;
        margin-bottom: 24px;
        font-size: 31px;
        text-align: left;
        font-weight: 500;
        color: hubl("$first_color");
    }
    .widget-type-form {
        .form-title {
            margin-top: 45px;
            margin-bottom: 24px;
            font-size: 31px;
            text-align: left;
            font-weight: 500;
        }
        .hs-form-field {
            margin-bottom: 15px;
            label span {
                color: hubl("$main_font_color");
                font-size: 16px;
            }
        }
        form {
            input {
                border: solid 1px #d6d5d5;
                margin-top: 5px;
                color: hubl("$main_font_color");
            }
            input[type="submit"] {
                color: hubl("$cta_color");
                border: solid 2px hubl("$cta_background");
                &:hover {
                    color: hubl("$cta_hover_color"); // border: solid 2px $mainColor;    
                }
            }
            textarea {
                border: solid 1px #d6d5d5;
                margin-top: 8px;
                color: hubl("$main_font_color");
            }
            select {
                background-color: #fff;
                outline: 0;
                font-size: 16px;
                font-weight: 300;
                border: solid 1px #d6d5d5;
                color: hubl("$main_font_color");
                margin-top: 19px !important;
                font-family: Palanquin, sans-serif;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                margin-top: 0px;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                background-image: url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/Sodium%20v2/angle-down-gray.png');
                background-repeat: no-repeat;
                background-position-x: 98%;
                background-position-y: 64%;
                width: 100%!important;
            }
            ul {
                &.hs-error-msgs label,
                &.hs-error-msgs a {
                    color: hubl("$main_font_color");
                    font-size: 16px;
                }
            }
        }
    }
    p {
        font-size: 16px;
        margin-bottom: 28px;
        span {
            text-transform: uppercase;
        }
    }
    ul {
        &.social {
            padding: 0px;
            margin: 0px;
            li {
                margin-right: 10px;
                display: inline-block;
                a {
                    height: 42px;
                    width: 42px;
                    display: block;
                    text-align: center;
                    line-height: 42px;
                    background-color: hubl("$cta_background");
                    border-radius: 3px;
                    border: solid 2px hubl("$cta_background");
                    color: #fff;
                    &:hover {
                        background-color: #fff;
                        color: hubl("$cta_hover_color");
                    }
                    i {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .widget-type-text.social-heading {
        margin: 35px 0 20px 0;
        .hs_cos_wrapper_type_text {
            color: hubl("$cta_hover_color");
            font-size: 31px;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
    .widget-type-cell.span6 {
        margin-top: 50px;
    }
    .widget-type-cell.span6.more-information {
        margin-top: 0;
    }
}

@media screen and (max-width:767px) {
    .map {
        .map-wrapper {
            max-height: 55vh;
        }
    }
    .contact-page {
        padding-bottom: 80px;
        h3 {
            margin-top: 20px;
        }
        .container {
            .row-fluid {
                display: flex;
                flex-direction: column-reverse;
            }
            #map {
                margin: 30px auto;
            }
            .social-share-module {
                text-align: center;
                margin: 10px 0;
            }
            .widget-type-text.social-heading {
                margin: 15px 0 10px 0;
                .layout-widget-wrapper {
                    text-align: center;
                }
            }
            .widget-type-form {
                .form-title {
                    text-align: center;
                    margin: 20px 0 10px 0;
                }
            }
        }
    }
    .contact-template {
        &.contact-v1 {
            .body-container-wrapper {
                form.hs-form {
                    fieldset {
                        max-width: 100%;
                        margin-bottom: 10px;
                        .input {
                            margin-right: 0px;
                        }
                        textarea,
                        input[type="text"],
                        input[type="email"],
                        input[type="tel"],
                        input[type="number"] {
                            &.hs-input {
                                width: 100%;
                                color: hubl("$main_font_color");
                                font-size: 16px;
                                border: solid 1px #ebeaea;
                                border-radius: 3px;
                            }
                        }
                        &.form-columns-2 {
                            .hs-form-field {
                                width: 100%;
                                &:last-of-type {
                                    margin-left: 0%;
                                }
                            }
                        }
                    }
                    label {
                        span {
                            color: hubl("$main_font_color");
                            font-weight: 200px;
                        }
                    }
                }
            }
        }
    }
}