.modules-page-v2 {
	// FAQ 
	.faq{
		margin-bottom: 40px;
		h2{
			text-align: left;
			letter-spacing: 0.04em;
			text-transform: none;
			color: hubl("$main_font_color");
			font-weight: 300;
			margin-top: 38px;
			padding-left: 0;
			margin-left: 0;
			span{
				letter-spacing: 3px;
			}
		}
		.widget-type-cta{
			margin-top: 10px;
		}
		.questions{
			.question{
				.text{

					p{
					font-size: 18px;
					font-weight: 100;
					}
				}
			}
		}
	}
	// COUNTERS
	#counter{
		height: auto;
		padding-top: 56px;
		padding-bottom: 33px;
		display: flex;
		align-items:center;
		position: relative;
		@media(max-width: 767px) {
        	// padding-top: 20px;
    	}
		.mask{
			background-color: rgba(0,0,0, 0.25);
			z-index: 2;

		}
		.container{
			display: block;
			padding-top: 0px;
			width: 100%;
			z-index: 3;
			// position: absolute;
			// top: 50%;
			// left: 50%;
			// -ms-transform:translate(-50%,-50%);
			// transform:translate(-50%,-50%);
			.row-fluid{
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap:wrap;
				.counter-box{
					width: 24.5%; // safari
					margin: 0;
					@media(max-width: 767px) {
		            	width: 49.5%; // safari
		        	}
		        	@media(max-width: 486px) {
		            	width: 100%;
		            	margin: 10px 0px;
		        	}
		        	h3{
		        		text-transform: uppercase;
		        		font-size: 20px;
		        	}
				}
			}
		}
	}
	// QUESTION
	section{
		&.question{
			margin-top:46px;

			.row-fluid{
				.widget-type-rich_text{
					h3{
						text-align: left;
						letter-spacing: 0.04em;
						text-transform: none;
						color: hubl("$main_font_color");
						font-weight: 300;
						font-size: 40px;
						margin-top: 10px;
						span{
							letter-spacing: 3px;
							color: hubl("$cta_background");
						}	
					}
				}
				.widget-type-cta{
					margin-top: -17px;
					margin-bottom: 41px;

				}
				.panel-group{
					margin-bottom: 40px;
				}
			}
		}
	}
	// IPHONE
	.lead-section{
		background: hubl("$cta_background");
		margin: 20px 0px;
		padding-top: 32px;
		@media(max-width: 768px) {
        	padding-bottom: 48px
    	}
		.iphone-column{
			@media(max-width: 768px) {
	        	display: none;
	    	}
		}
		.widget-type-header{
			h2{
				color:#fff;
				text-align: left;
				text-transform: none;
				letter-spacing: 0.04em;
				font-size: 40px;
				font-weight: 300;
				span{
					letter-spacing: 3px;
					color: hubl("$cta_background");
				}
			}
		}
		.widget-type-rich_text{
			p{
				color:#fff;
				&:last-child{
					margin-top:60px;
				}
			}
		}
	}
	// SUBSCRIPTION
	.blog-email-subscription{
		margin-bottom: 22px;
	}
	// EQUAL COLUMN

	.two-column-equal{
		margin-top: 26px;
		.equal-row{
			margin-bottom: 20px;
			.equal-text-left{
				padding-right: 40px;
				h2{
					margin-top: 20px;
					letter-spacing: 0.04em;
					span{
						letter-spacing: 3px;
					}
				}
			}
			.equal-text-right{
				padding-left: 40px;
				@media(max-width: 480px) {
		        	padding-left: 0;
		    	}
				h2{
					margin-top: 20px;
					letter-spacing: 0.04em;
					span{
						letter-spacing: 3px;
					}
				}
			}
			.img-wrap-basic {
				img{
					border-radius: 5px;
				}
			}
			.left-img{
				img{
					box-shadow: -30px 30px 0px hubl("$cta_background");
				    margin-left:30px;
				    @media(max-width: 480px) {
			        	box-shadow: -15px 15px 0px hubl("$cta_background");
			        	margin-left:15px;
			    	}
				}
			}
		}
	}

	// TEXT & IMAGE 

	.text-and-image-overflow{
		margin-top: 28px;

	}

}



