@media only screen and (max-width : 768px) {
	.three-columns{
	    border: none;
	    padding-top: 0px;
	}
	
	.sidebar-item{
		border-top: solid 1px #f6f6f6;
	}
	.flex-item3  .right-sidebar .sidebar-submenu{
	   	width: 100%;
        border-top: none;
	    padding-top: 0;
	    margin: 0;

	}
}