.careers-main-single-website{

	 // SINGLE POST - website 
	.hero-banner{
		margin-bottom: 0px;
		.hero-banner-wrap{
			margin-top: -25px;
			h2{
				font-size: 23px;
				&:before{
					content: "\f041";
					font-family: "FontAwesome";
					color: hubl("$first_color");
					margin-right: 22px;
					font-size: 23px;
				}
			}
		}
	}
    .post-header {
	    display: flex;
	    justify-content: flex-start;
	    align-items: center;
	    margin: 50px 0;
	}
	strong{
		font-weight: 900;
	}
	.submitted-message, .hs-error-msgs{
		color:white;
	}
	.careers-form{
		padding:100px 0px;
	}
	.hs-form-required{
		display:none!important;
	}
	.careers-form{
		background-size: cover!important;
	}

}