.case-study-2-website{
	.hero-banner{
		margin-bottom: 0px;
	}
	h2{
    margin: 37px auto 0;
    font-weight: 400;
    color: hubl("$main_font_color");
    text-transform: none;

	}
	.case-study-pagination {
        width: 100%;
        padding-left: 15px;
        cursor: auto;
        margin-bottom: 60px;
        .disabled {
            display: none;
        }
        li {
            display: inline-block;
            background-color: #fff;
            border-radius: 4px;
            margin-right: 5px;
            a {
                border-radius: 4px;
                overflow: hidden;
                color: hubl('$main_font_color');
                display: block;
                line-height: 22px;
                border: solid 1px #ebebeb;
                height: 27px;
                width: 24px;
                text-align: center;
                font-size: 16px;
                overflow: hidden;
                &:hover {
                    background-color: hubl('$cta_background');
                    border: solid 1px hubl('$cta_background');
                    color: #fff;
                }
            }
            &.active {
                a {
                    background-color: hubl('$cta_background');
                    border: solid 1px hubl('$cta_background');
                    color: #fff;
                }
            }
        }
    }
    nav.clearfix {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 60px;
    }
    @media (max-width: 380px){
        .case-studies {
            width: 100%;
            margin: 0px!important;
        }
    }
        
}