.landing {
    .content-landing {
        margin-bottom: 65px;
    }
    .hero-banner {
        margin-bottom: 38px;
        letter-spacing: 0.095em;
        height: 400px;
    }
    h2 {
        margin-top: -7px;
        margin-bottom: 33px;
        letter-spacing: 0.04em;
        text-align: left;
        text-transform: none;
        font-weight: 300;
        span {
            letter-spacing: 3px;
        }
    }
    .hs_cos_wrapper_type_rich_text ul {
        padding-left: 30px;
        li {
            margin-bottom: 11px;
        }
    }
    .header-form {
        position: relative;
        height: 132px;
        text-align: center;
        background-color: hubl("$first_color");
        img {
            margin-top: 14px;
            width: 100%;
            height: 100%;
            max-width: 69px;
            max-height: 69px;
        }
        h3 {
            color: #fff;
            font-weight: normal;
            font-size: 20px;
            margin-top: 8px;
            padding-bottom: 18px;
            margin-bottom: 0px;
            letter-spacing: 0.095em;
        }
        .trangle {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 12px 15px 0 15px;
            border-color: hubl("$first_color") transparent transparent transparent;
            position: absolute;
            bottom: -10px;
            left: 0px;
            right: 0px;
            margin: 0 auto;
        }
    }
    .form-landing .widget-type-form {
        text-align: center;
        .hs_cos_wrapper_type_form {
            line-height: 3;
            text-align: left;
        }
        .hs-form-field {
            margin-bottom: 0;
        }
        .form-title {
            display: none;
        }
        background-color: #f9f9f9;
        form {
            padding: 28px 16px 22px;
            border: solid 1px #ebebeb;
            border-top: none;
            input {
                background-color: #fff;
                padding: 9px 20px;
                border: 1px solid #ebebeb;
                border-radius: 4px;
                font-size: 16px;
                color: hubl("$main_font_color");
                margin-top: 10px;
            }
            select{
                background-color: #fff;
                padding: 9px 20px;
                border: 1px solid #ebebeb;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                font-size: 16px;
                color: #626262;
                margin-top: 0px!important;
            }
            .inputs-list{
                li{
                    line-height: 1;
                    margin-top: -15px;
                    label{
                        line-height: 1.3;
                    }
                }
            }
            input[type="checkbox"].hs-input{
                padding-left:9px!important;
            }
            input[type="radio"].hs-input{
                padding-left: 15px;
                padding-right:0px;
            }
            label span{
                //font-size: 16px;
                color: hubl("$main_font_color");
                margin-top: 10px;            }
            textarea {
                padding: 7px 9px;
                //font-size: 14px;
            }
            input.hs-button {
                @extend .cta-primary;
                letter-spacing: 0.095em;
                width: 100%;
                font-size: 22px;
                padding: 11px 40px;
                margin-top: 21px;
            }
        }
    }
    .column {
        @media(max-width: 767px) {
            margin-bottom: 30px;
        }
    }
    .cover {
        text-align: center;
    }
    hr {
        border-top: #e1e1e1;
    }
    .widget-type-form label {
        //font-size: 14px;
        color: hubl("$main_font_color");
        a {
            //font-size: 14px;
        }
    }
    .social {
        margin-top: 18px;
        float: left;
        width: 100%;
        .social-main-icon {
            float: left;
            height: 45px;
            width: 45px;
            background-color: hubl("$first_color");
            i {
                font-size: 21px;
                margin-left: 13px;
                margin-top: 12px;
                color: #FFF;
            }
        }
        ul {
            padding-left: 18px;
            width: calc(100% - 45px);
            float: left;
            @media(max-width: 335px) {
                padding-left: 5px;
            }
            li {
                height: 44px;
                width: 40px;
                list-style: none;
                display: inline-block;
                a {
                    padding-top: 4px;
                    display: block;
                    width: 100%;
                    height: 43px;
                    color: #d7d7d7;
                    font-size: 25px;
                    text-align: center;
                    transition: 0.3s;
                    &:hover {
                        color: hubl("$cta_background");
                    }
                }
            }
        }
    }
}
