.case-study-single {
    .cta-box {
        max-width: 263px;
    }
    .widget-type-cta>.layout-widget-wrapper {
        display: flex;
    }
    .hs_cos_wrapper_type_cta {
        margin: 0 auto 25px auto;
    }
    section.free-quote .container {
        max-width: 1140px;
        padding-left: 0;
        padding-right: 0;
        @media(max-width: 1150px) and (min-width: 1115px) {
            padding: 0 15px;
        }
        .inner-container {
            max-width: 1140px;
        }
    }
    .body-container-wrapper {
        margin-top: 0;
    }
    section.hero-banner.huge h2 {
        width: 100%;
    }
    .case-study-slider {
        clear: both;
        margin-bottom: 36px;
    }
    .case-study-post {}
    .case-study-post-body {
        float: left;
        margin: 25px 0;
        h2 {
            width: 100%;
        }
        li {
            display: flex; //hack
            flex-wrap: wrap;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
        }
        blockquote {
            margin: 25px 25px 0 0;
            float: left;
            text-align: center;
            position: relative;
            background-color: #fafafa;
            width: 240px;
            font-size: 23px;
            color: hubl("$main_font_color");
            line-height: 34px;
            display: inline-block;
            padding: 100px 30px 35px;
            font-weight: 300;
            border-radius: 10px;
            text-transform: uppercase;
            @media(max-width: 400px) {
                float: none;
                margin: 50px auto 20px;
                display: block;
            }
        }
        blockquote:before {
            font-size: 98px;
            position: absolute;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            color: hubl_rgba("$first_color", 0.54);
        }
        blockquote:after {
            content: "";
        }
    }
    .post-head {
        margin: 35px 0 5px;
    }
    .hs-blog-post {
        margin-top: 0;
    }
    section.hero-banner.huge {
        height: 500px;
        margin-bottom: 0;
    }
    section.cta-box {
        margin-top: 58px;
        @media (max-width: 767px) {
            margin-top: 0;
        }
    }
    h2 {
        text-transform: none;
        color: hubl("$main_font_color");
        font-family: hubl("$font");
        font-weight: 300;
        text-align: left;
        width: calc(100% - 250px);
        float: left;
        @media(max-width: 600px) {
            width: 100%;
        }
        span {
            color: hubl("$cta_background");
            letter-spacing: 3px;
        }
    }
    .another-wrapper {
        float: left;
        width: 250px;
        margin: 23px 0;
        @media(max-width: 600px) {
            clear: both;
            margin-top: 0;
        }
    }
    .another-post {
        color: hubl("$cta_color");
        background-color: hubl("$cta_background");
        float: left;
        margin-left: 20px;
        border: hubl("$cta_background") solid 2px;
        cursor: pointer;
        border-radius: 4px;
        min-height: 27px;
        min-width: 105px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        padding: 11px 0;
        font: 300 16px / 16px Palanquin;
        transition: linear 0.3s all;
        @media(max-width: 600px) {
            margin-left: 0;
            margin-right: 20px;
        }
        &:hover {
            color: hubl("$cta_hover_color");
            background-color: hubl("$cta_hover_background");
        }
    }
    hr {
        border-top: 1px #ebebeb solid;
        border-bottom: 0;
    }
    .project-info {
        h4 {
            display: block;
            margin-top: 0px;
            margin-bottom: 15px;
            font-size: 16px;
            font-weight: 500;
            color: hubl("$main_font_color");
            text-transform: uppercase;
            clear: both;
        }
        .project-info-rich-text {
            float: left;
            margin-top: 16px;
            margin-bottom: 16px;
            &,
            span,
            li {
                color: hubl("$main_font_color");
                font-size: 16px;
                font-weight: 300;
                font-family: $font_family;
            }
        }
        .project-info-table {
            float: left;
            margin-bottom: 18px;
            .key,
            .value {
                margin-bottom: 4px;
                display: block;
                float: left;
                color: hubl("$main_font_color");
                font-size: 16px;
                a {
                    @extend .value;
                    &:hover {
                        color: hubl("$cta_background");
                    }
                }
            }
            .key {
                width: 110px;
                font-weight: 500;
            }
            .value {
                font-weight: 300;
            }
        }
    }
    .slick-slider {
        padding: 0;
    }
    .slick-next,
    .slick-prev {
        margin-top: 0;
        z-index: 1;
        background: hubl("$first_color");
        width: 40px;
        height: 40px;
    }
    .slick-next {
        right: 0px;
    }
    .slick-prev {
        left: 0px;
    }
    .slick-next:before,
    .slick-prev:before {
        padding-top: 2px;
        width: 40px;
        height: 40px;
        font-size: 34px;
        color: #FFF;
        content: "\f104";
        font-family: "FontAwesome";
        background-image: none;
    }
    .social {
        float: left;
        width: 100%;
        .social-main-icon {
            float: left;
            height: 45px;
            width: 45px;
            background-color: hubl("$first_color");
            i {
                font-size: 21px;
                margin-left: 13px;
                margin-top: 12px;
                color: #FFF;
            }
        }
        ul {
            padding-left: 18px;
            width: calc(100% - 45px);
            float: left;
            border-top: solid 1px #ebebeb;
            border-bottom: solid 1px #ebebeb;
            li {
                height: 44px;
                width: 32px;
                list-style: none;
                display: inline-block;
                a {
                    padding-top: 8px;
                    display: block;
                    width: 100%;
                    height: 43px;
                    color: #d7d7d7;
                    font-size: 18px;
                    text-align: center;
                    transition: 0.3s;
                    &:hover {
                        color: hubl("$cta_background");
                    }
                }
            }
        }
    }
    &.divy-redesign {
        .case-study-body {
            padding: 70px 0;
        }
        h2 {
            float: none;
        }
        .author-info {
            display: flex;
            margin-bottom: 20px;
            h2 {
                font-size: 25px;
                line-height: 1.2;
                width: auto;
                margin-bottom: 10px;
                margin-top: 10px;
            }
            .info-wrap {
                padding: 10px 0 10px 15px;
            }
            .date {
                margin: 0;
                font-size: 14px;
            }
            .hs-author-avatar {
                max-width: 100px;
                border-radius: 6px;
                overflow: hidden;
            }
            @media (max-width: 550px) {
                flex-wrap: wrap;
                .info-wrap,
                .hs-author-avatar {
                    width: 100%;
                }
                .info-wrap {
                    padding: 0;
                }
                .hs-author-avatar {
                    max-width: 100%; // text-align: center;
                    img {
                        max-width: 100px;
                        border-radius: 6px;
                    }
                }
            }
        }
    }
}