/*BLOG LISTING*/

// MENU
.portfolio-menu-wraper {
    background: hubl("$first_color");
    min-height: 85px;
    @media only screen and (max-width: 1055px) {
        height: 100%;
    }
    ul.multi-blog {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
        min-height: 85px; // background-color: pink;
        @media only screen and (max-width: 1024px) {
            flex-wrap: wrap;
            height: 100%;
        }
        @media only screen and (max-width: 486px) {
            align-items: center;
            flex-direction: column;
            height: 100%;
        }
        li {
            display: table;
            margin-left: 30px;
            height: 70px;
            background-repeat: no-repeat;
            background-image: none;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            transition: all 0.5s ease; // cursor: pointer;
            @media only screen and (max-width: 1024px) {
                margin: 10px 10px;
                border-radius: 5px;
            }
            @media only screen and (max-width: 486px) {
                margin: 10px 0px;
            }
            &:first-child {
                a {
                    display: table-cell;
                    vertical-align: middle;
                    padding: 0 55px;
                    margin: 0;
                    &:before {
                        content: "";
                        display: none;
                    }
                }
            }
            a {
                color: #fff;
                vertical-align: middle;
                display: table-cell;
                position: relative;
                padding-left: 70px;
                &:before {
                    content: "";
                    display: inline-block;
                    width: 45px;
                    height: 45px;
                    background-repeat: no-repeat;
                    background-position: top;
                    position: absolute;
                    top: 15px;
                    left: 15px;
                }
                @media only screen and (max-width: 494px) {
                    // padding: 0 10px;
                }
            }
            &:hover {
                background-color: #fff;
                box-shadow: 2px 0px 0px 0px rgba(0, 0, 0, 0.1);
                a {
                    color: hubl("$cta_hover_color");
                    &:before {
                        background-position: bottom;
                    }
                }
            }
        }
        .active {
            color: hubl("$cta_background");
            background-color: #fff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            box-shadow: 2px 0px 0px 0px rgba(0, 0, 0, 0.1);
            a {
                color: hubl("$cta_hover_color");
                &:before {
                    background-position: bottom;
                }
            }
        }
    }
}

// BLOG POST LISTING
.multi-blog-wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 78px 0px 15px 0px;
    .multi-blog {
        transition: all 0.5s ease;
        margin: 0px;
        &:nth-child(3n+2) {
            margin: 0px 30px;
            @media only screen and (max-width: 1169px) {
                margin: 0px 15px;
            }
        }
        @media only screen and (max-width: 1169px) {
            margin: 0px 15px;
        }
        .content {
            height: 372px;
            width: 360px;
            position: relative;
            overflow: hidden;
            background-size: cover!important;
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 5px;
            box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.1);
            margin-bottom: 37px;
            &:hover {
                .desc {
                    height: 175px;
                    @media only screen and (max-width: 400px) {
                        height: 200px;
                    }
                }
            }
            @media only screen and (max-width: 400px) {
                width: 340px;
            }
            @media only screen and (max-width: 360px) {
                width: 280px;
            }
            .category {
                width: 68px;
                height: 68px;
                background-color: hubl_rgba("$first_color", 0.8);
                position: absolute;
                top: 0;
                left: 0;
                background-repeat: no-repeat;
                background-position: center 15px;
                &:before {
                    content: "";
                    display: block;
                    // width: 45px;
                    // height: 45px;
                    width: inherit;
                    height: inherit;
                    margin: 0;
                    background-position: top;
                    // margin: 11px auto;
                }
            }
            .desc {
                background: hubl("$first_color");
                padding: 13px 25px;
                position: absolute;
                bottom: 0px;
                height: 100px;
                transition: height 0.5s ease;
                @media only screen and (max-width: 400px) {
                    height: 120px;
                }
                small {
                    font-size: 13px;
                    color: #fff;
                    margin: 0;
                }
                h4 {
                    font-size: 18px;
                    color: #fff;
                    font-weight: 500;
                    margin: 10px 0px;
                }
                p {
                    font-size: 16px;
                    color: #fff;
                    font-weight: 400;
                    margin: 0;
                }
                span {
                    display: block;
                    width: 11px;
                    height: 18px;
                    background: url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/Sodium%20v2/read-more-white.png');
                    background-position: right;
                    padding-left: 100px;
                    background-repeat: no-repeat;
                    float: right;
                }
                &:hover {
                    height: 175px;
                    @media only screen and (max-width: 400px) {
                        height: 200px;
                    }
                }
            }
        }
    }
}

// pagination
.multi-blog {
    .pagination {
        width: 100%;
        padding-left: 0px;
        cursor: auto;
        .disabled {
            display: none;
        }
        li {
            display: inline-block;
            background-color: #fff;
            border-radius: 4px;
            a {
                border-radius: 4px;
                overflow: hidden;
                color: hubl("$main_font_color");
                display: block;
                line-height: 22px;
                border: solid 1px #ebebeb;
                height: 27px;
                width: 24px;
                text-align: center;
                font-size: 16px;
                overflow: hidden;
                &:hover {
                    background-color: hubl("$cta_background");
                    border: solid 1px hubl("$cta_background");
                    color: #fff;
                }
            }
            &.active {
                a {
                    background-color: hubl("$cta_background");
                    border: solid 1px hubl("$cta_background");
                    color: #fff;
                }
            }
        }
    }
    .clearfix {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 38px;
    }
}

.divy-redesign {
    .multi-blog-wraper {
        .multi-blog {
            margin: 0 15px;
        }
    }
    .side-bar-blog {
        padding: 78px 0 50px;
        .widget-type-rich_text {
            p {
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
        .blog-subscribe h3 {
            margin-top: 60px;
        }
        .block h3 {
            margin-top: 20px;
        }
        .about-this-blog-rt {
            margin-top: 50px;
            margin-bottom: 0;
            h3 {
                margin-bottom: 28px;
            }
        }
        h3 {
            font-size: 23px;
            color: hubl("$main_font_color");
            font-weight: 400;
            margin-bottom: 10px; // margin-top: 10px;
            margin-top: 0;
        }
        .widget-type-form,
        .categories {
            border-bottom: 1px solid #ebebeb;
            padding-bottom: 30px;
            margin-bottom: 30px;
        }
        .widget-type-form .form-title {
            font-size: 23px;
            color: hubl("$main_font_color");
            font-weight: 400;
            margin-bottom: 10px;
            margin-top: 15px;
        }
        .cta {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        ul {
            list-style-type: none;
            li {
                margin-bottom: 7px;
                margin-left: 2px;
                a {
                    text-transform: capitalize;
                    font-weight: 300;
                    color: hubl("$main_font_color");
                    font-size: 16px;
                    &:hover {
                        color: hubl("$cta_hover_color");
                    }
                    &:before {
                        content: "» ";
                        font-size: 20px;
                    }
                }
            }
        }
         ::-webkit-input-placeholder,
         :-moz-placeholder,
         ::-moz-placeholder,
         :-ms-input-placeholder {
            color: #b7b7b7;
        }
        form {
            .hs-form-field {
                margin-bottom: 10px;
            }
            input {
                border: 0;
                border-bottom: solid 1px hubl("$cta_background");
                margin-top: 0px;
                margin-bottom: 5px;
                color: hubl("$main_font_color");
                font-size: 16px;
                margin-left: 0;
                padding-left: 0;
            }
            label {
                color: hubl("$main_font_color");
                span {
                    color: hubl("$main_font_color");
                }
                position:relative;
            }
            input[type="checkbox"] {
                position: relative;
                height: 3px;
                width: 15px;
                top: -6px;
                margin-right: 3px;
                visibility: hidden;
                +span {
                    color: hubl("$main_font_color");
                }
                +span {
                    &:before {
                        content: "\f096";
                        position: absolute;
                        top: 5px;
                        left: -1px;
                        display: block;
                        color: #e0e0e0;
                        width: 16px;
                        height: 16px;
                        font-family: "FontAwesome";
                    }
                }
                &:checked {
                    +span {
                        &:before {
                            content: "\f14a";
                            color: hubl("$first_color");
                        }
                    }
                }
            }
            input[type="radio"] {
                position: relative;
                height: 3px;
                width: 15px;
                top: -6px;
                visibility: hidden;
                margin-right: 8px;
                +span {
                    color: hubl("$main_font_color");
                }
                +span {
                    &:before {
                        content: "";
                        position: absolute;
                        top: 10px;
                        left: -1px;
                        background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/radio.png');
                        display: block;
                        /* background-repeat: no-repeat; */
                        width: 16px;
                        height: 16px;
                        background-position: 0px 0px;
                    }
                }
                &:checked {
                    +span {
                        &:before {
                            background-position: 16px 0px;
                        }
                    }
                }
            }
            select {
                background-color: #fff;
                border: 0;
                outline: 0;
                font-size: 16px;
                border-bottom: solid 1px $mainColor;
                color: $secondaryTextColor;
                margin-top: 0px !important;
                appearance: none;
                margin-top: 0px;
                border-radius: 0;
                background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow_down.png');
                background-repeat: no-repeat;
                background-position-x: 98%;
                background-position-y: 64%;
            }
            .hs-form-required {
                display: none;
            }
            input[type="submit"] {
                background-color: hubl("$cta_background");
                color: hubl("$cta_color");
                display: inline-block;
                font-size: 16px;
                border-radius: 5px;
                font-weight: 500;
                text-transform: uppercase;
                padding: 4.5px 45px;
                border: solid 2px hubl("$cta_background");
                &:hover {
                    background-color: hubl("$cta_hover_background");
                    border: solid 2px hubl("$cta_background");
                    color: hubl("$cta_hover_color");
                    border-radius: 5px;
                }
            }
            .hs_submit {
                input {
                    color: hubl("$cta_color");
                    margin-top: 9px;
                    &:hover {
                        color: hubl("$cta_hover_color");
                    }
                }
            }
        }
    }
    .recent-posts {
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1099px) {
            flex-direction: column;
            margin-bottom: 10px;
        }
    }
    .recent-post {
        border-radius: 4px;
        overflow: hidden;
        width: 100%;
        max-width: 260px;
        position: relative;
        height: 270px;
        background-color: hubl("$first_color");
        .recent-post-content {
            padding: 10px;
        }
        .recent-post-featured-image {
            width: 100%;
            height: 145px;
            background-size: cover;
        }
        .recent-post-info {
            margin: 0;
            font-weight: 300;
            color: #fff;
            font-size: 13px;
        }
        .recent-post-title {
            color: #fff;
            font-size: 18px;
            margin: 7px 0;
        }
        .recent-post-read-more {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        @media (max-width: 1099px) {
            margin-bottom: 30px;
            max-width: 520px;
        }
    }
}

.divy-redesign {
    ul.multi-blog {
        padding-top: 10px;
    }
    .portfolio-menu-wraper {
        
        .topic-icon {
            a {
                transition: .3s linear all;
                &:before {
                    font-family: FontAwesome;
                    color: #fff;
                    font-size: 40px;
                    top: 5px;
                    left: 15px;
                    transition: inherit;
                }
            }
            &:hover, &.active {
                a {
                    &:before {
                        color: hubl("$first_color");
                    }
                }
            }
            &.big-data {
                a {
                    &:before {
                        content: '\f1c0';
                    }
                }
            }
            &.cyber-security {
                a {
                    &:before {
                        content: '\f132';
                    }
                }
            }
            &.infrastructure {
                a {
                    &:before {
                        content: '\f233';
                    }
                }
            }
            &.it-project-management {
                a {
                    &:before {
                        content: '\f085';
                    }
                }
            }
            &.other {
                a {
                    padding-left: 20px;
                }
            }
        }
    }
    .category {
        &.topic-icon {
            text-align: center;
            &:before {
                font-family: FontAwesome;
                color: #fff;
                font-size: 40px;
                width: inherit;
                height: inherit;
                line-height: 68px;
                margin: 0;
                
            }
            &.big-data {
                &:before {
                    content: '\f1c0';
                }
            }
            &.cyber-security {
                &:before {
                    content: '\f132';
                }
            }
            &.infrastructure {
                &:before {
                    content: '\f233';
                }
            }
            &.it-project-management {
                &:before {
                    content: '\f085';
                }
            }
            &.other {
                a {
                    padding-left: 20px;
                }
            }
        }
    }
}