.product-single {

	.hero-banner {
		margin-bottom: 0;
	}

	.square-box {
		padding-top: 0;
	}

	.lead-section {
		padding-top: 60px;
		padding-bottom: 60px;

		&.iphone-section {
			background-color: hubl("$first_color");
			overflow: hidden;

			.widget-type-header h1, .widget-type-header h2, .widget-type-header h3, .widget-type-header h4, .widget-type-header span,
			.widget-type-rich_text p, .widget-type-rich_text li, .widget-type-rich_text a:not(.cta_button),
			.widget-type-blog_content h1, .widget-type-blog_content h2, .widget-type-blog_content h3, .widget-type-blog_content h4, .widget-type-blog_content h5, .widget-type-blog_content h6, 
			.widget-type-blog_content p, .widget-type-blog_content li, .widget-type-blog_content a:not(.cta_button), .widget-type-blog_content em, .widget-type-blog_content span {
				color: #fff;
			}

			.widget-type-blog_content ul li:before, .widget-type-blog_content p ul li:before, .widget-type-blog_content span ul li:before {
				background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/ul-list-white.png');
			}

			.widget-type-blog_content ol li:before, .widget-type-blog_content p ol li:before, .widget-type-blog_content span ol li:before {
				color: #fff;
			}

			.widget-type-rich_text a:not(.cta_button) {
				text-decoration: underline;
				cursor: pointer;
			}
		}

	}
	.featured-box-white-bg {
		margin-top: 0;
		border-top: none;
		padding-bottom: 0;

		.square-box {
			
			&__content {
				h4 {
					color: hubl("$main_font_color");
				}
			}
			&__image-container {
				background-color: transparent;

				.icon {
					color: hubl("$first_color");
					font-size: 50px;
    				line-height: 100px;
    				border-radius: 50%;
    				border: 2px solid hubl("$first_color");
				}
			}
		}
	}

	.features {
		position: relative;

		.widget-type-custom_widget {

			.span6 {
				width: 100%;
			}
		}

		.feature {
			h3 {
				font-size: 20px;
				text-transform: none;
			}

			.icon {
				color: hubl("$first_color");
			}
		}

		&__image-container {
			margin-top: 70px;
			position: absolute;
			top: 0;
			left: 50%;
			width: 45%;

			img {    
				box-shadow: 0px 0px 10px 5px rgba(100,100,100,.2);
			}
		}
	}

	&__slider-section {
		width: 100%;
		float: left;
		margin-top: 50px;
		margin-bottom: 50px;
	}
}


@media (max-width: 767px) {
	.product-single {

		.features {

			.feature {
				max-width: 500px;
				margin-left: auto;
				margin-right: auto;
			}

			&__image-container {
				position: relative;
				width: 100%;
				max-width: 100%;
				left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}
		}
	}
}