.cta-box{
	max-width: 292px;
	height: 303px;
	position: relative;
	z-index: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	padding: 0px 15px;
	.mask{
		width: 100%;
		height:100%;
		background: #000;
		opacity: 0.4;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;

	}
	.cta-wrap{
			display: flex;
			align-items: center;
			text-align: center;
			max-width: 292px;
			height: 303px;
		.cta-content
		{	
			margin: 0 auto;			
			max-width: 292px;
			h3{
			font-size: 34px;
			color: #fff;
			font-weight: 500;
			text-align: center;
			margin-top: 0;
			padding-top: 0;
			}
			p{
			font-size: 20px;
			color: #fff;
			font-weight: 300;
			}
			.btn{
				
			}
		}
	}
}
