.questions {
    height: auto !important;
    min-height: 350px;
    .question {
        width: 100%;
    }
    .question h3 {
        font-size: 20px;
        color: hubl("$main_font_color");
        text-transform: uppercase;
        margin-top: 30px;
        font-weight: 300;
        display: block;
        margin-left: 15px;
        position: relative;
        margin-bottom: 0px;
        cursor: pointer;
        padding-left: 7px;
    }
    .question h3:before {
        position: absolute;
        left: -14px;
        top: 1px;
        font-family: "FontAwesome";
        content: "\f105";
        color: hubl("$cta_background");
        transition: all 0.1s linear;
    }
    .question h3.rotate:before {
        transition: all 0.1s linear;
        transform: rotate(90deg);
    }
    .question p.text {
        font-size: 16px;
        color: #626262;
        font-weight: 300;
        display: none;
    }
}
